<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IProcessEmail">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ccmsvc.devb.devjcrinc.com/ProcessEmail.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProcessEmail"
                contract="CCMService.IProcessEmail" name="WSHttpBinding_IProcessEmail">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>