<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    LICENSE AGREEMENT
                </div>
                <div class="panel-body" style="overflow: auto; height: 60vh; overflow-x: hidden;">
                    <p class="MsoNormal">
                        TRACERS Add-On for AMP&reg; AND/OR
                    </p>
                    <p class="MsoNormal">
                        ACCREDITATION MANAGER PLUS&trade; (AMP&reg;) AND/OR
                    </p>
                    <p class="MsoNormal">
                        E-DITION&trade;
                    </p>
                    <p class="MsoNormal">
                        <span style="mso-spacerun:yes">&nbsp;</span>
                    </p>
                    <p class="MsoNormal">
                        END-USER LICENSE AGREEMENT
                    </p>
                    <p class="MsoNormal">
                        <span style="mso-spacerun:yes">&nbsp;</span>
                    </p>
                    <p class="MsoNormal">
                        NOTICE:<span style="mso-spacerun:yes">&nbsp; </span>ACCESS OR USE OF TRACERS AND/OR AMP&reg; AND/OR E-DITION&trade; IS SUBJECT TO YOUR ACCEPTANCE OF THESE TERMS AND CONDITIONS. IF YOU DO NOT AGREE TO THESE TERMS AND CONDITIONS, YOU ARE NOT PERMITTED TO ACCESS OR USE THIS ONLINE SERVICE.<span style="mso-spacerun:yes">&nbsp;&nbsp;</span>
                    </p>
                    <p class="MsoNormal">
                        The following terms and conditions govern access and use of Tracers and/or AMP and/or E-dition as applicable, and all content, applications, software, tools, services, materials and information provided herein (&quot;Online Service&quot;).<span style="mso-spacerun:yes">&nbsp; </span>You are only permitted
                        access to this Online Service if you are, and only for so long as you are, an &quot;Authorized User&quot; as defined below under Authorized Use and Restrictions.<span style="mso-spacerun:yes">&nbsp; </span>If you are not an Authorized User, you must immediately cease all use of this Online Service.
                    </p>
                    <p class="MsoNormal">
                        These terms and conditions of use constitute a legal agreement (&quot;End-user License Agreement&quot; or &quot;EULA&quot;) between you and JCR concerning your use of the Online Service.<span style="mso-spacerun:yes">&nbsp; </span>For purposes hereof, &quot;you&quot; or &quot;your&quot; shall include yourself and your organization.<span style="mso-spacerun:yes">&nbsp;</span>By accessing, browsing and/or otherwise using this Online Service you acknowledge that you have read, understood and agreed to be bound by this EULA, you agree to comply with all applicable laws and regulations, including U.S. export and re-export control
                        laws and regulations, and you represent that you are authorized to enter into this EULA.<span style="mso-spacerun:yes">&nbsp; </span>If you do not agree to all of these terms and conditions, you may not access, browse and/or use this Online Service in any manner. The material provided on this Online
                        Service is protected by law, including, but not limited to, United States copyright law and international treaties.
                    </p>
                    <p class="MsoNormal">
                        This EULA applies to your access to and use of this Online Service and does not alter in any way the terms and conditions of any other agreement you may have with JCR for products, software, services or otherwise. If you fail to comply in any way with these terms and conditions, your authorization
                        to access and to use this Online Service automatically terminates.<span style="mso-spacerun:yes">&nbsp; </span>
                    </p>
                    <p class="MsoNormal">
                        AUTHORIZED USE AND RESTRICTIONS
                    </p>
                    <p class="MsoNormal">
                        Authorized Use. Use of the Online Services is limited to the applicable &quot;Single&quot; or &quot;Site&quot; license and subject to full payment of the applicable license fee.<span style="mso-spacerun:yes">&nbsp; </span>For purposes of this EULA, for healthcare organizations accredited by The Joint Commission, each
                        portion of the organization separately surveyed by The Joint Commission for its accreditation process is defined as a &quot;Site&quot; and those persons designated by the Site’s Program Administrator are Authorized Users. For purposes of this EULA and with respect to organizations not accredited by The Joint
                        Commission or non-healthcare organizations, &quot;Site&quot; means no more than six (6) individual named Authorized Users who will have access to Online Services as designated by the Site’s Program Administrator. A &quot;Single&quot; license access to Online Services is restricted to one (1) individual user for each
                        &quot;Single&quot; license.
                    </p>
                    <p class="MsoNormal">
                        The Online Services and the materials herein may only be used for your internal management, reference and informational purposes (collectively, the &quot;Authorized Use&quot;). The Authorized Use expressly excludes: (i) redistribution, retransmission, publication, transfer or commercial or other exploitation
                        of the materials from the Online Service, in whole or in part, including as part of a services bureau, time-sharing or other similar arrangement; (ii)<span style="mso-spacerun:yes">&nbsp; </span>reverse engineering, decompiling or modification of the Online Services, in whole or in part; (iii)
                        uploading, downloading, copying or redistributing the Online Services materials in their entirety or lengthy sequence, including, but not limited to, creating an archive of Online Services materials; (iv) permitting access to any unauthorized user, including without limitation access by clients in
                        connection with your provision of professional services.
                    </p>
                    <p class="MsoNormal">
                        Copyright. All Online Service materials, including, without limitation, text, pictures, graphics and other files and the selection and arrangement thereof are copyrighted materials of JCR or its licensors, all rights reserved.<span style="mso-spacerun:yes">&nbsp; </span>Except for the Authorized Use
                        specified above, you may not copy, modify or distribute any of the Online Service materials.<span style="mso-spacerun:yes">&nbsp; </span>You may not &quot;mirror&quot; any material contained on this Online Service on any other server.<span style="mso-spacerun:yes">&nbsp; </span>Any unauthorized use of any
                        material contained on this Online Service may violate copyright laws, trademark laws, the laws of privacy and publicity and communications regulations and statutes.
                    </p>
                    <p class="MsoNormal">
                        Permissions. You may make printouts of the materials from the Online Services to the extent permitted under the &quot;fair use&quot; provisions of the Copyright Act of 1976 (17 U.S.C. Sec. 107), or may download and store insubstantial portions of select materials (in machine-readable form), so long as such
                        downloading is consistent with the purposes authorized by this EULA. You shall comply with all applicable conventions regarding copyright and source of material attribution. If you wish to use the materials from the Online Services in any manner not expressly permitted by this EULA, you may request
                        permission from JCR by giving to JCR a written description of the intended use and such other information as JCR may request. Only an authorized representative of JCR may grant such permission.<span style="mso-spacerun:yes">&nbsp; </span>The granting of such a request may entail an additional fee
                        payable by you.
                    </p>
                    <p class="MsoNormal">
                        Trademarks. The trademarks, service marks, trade names, and logos, including, but not limited to, page headers, custom graphics, button icons, and scripts (collectively, the &quot;Trademarks&quot;) used and displayed on this Online Service are registered and unregistered trademarks, service marks and/or trade
                        dress of JCR or its licensors, and you may not copy, imitate or use the Trademarks, in whole or in part, for any purpose, including without limitation in any marketing or advertising materials.<span style="mso-spacerun:yes">&nbsp; </span>No license or other right to use any Trademark used or
                        displayed on the Online Service is granted to you.<span style="mso-spacerun:yes">&nbsp; </span>
                    </p>
                    <p class="MsoNormal">
                        Links. Links to third party websites on this Online Service are provided solely as a convenience to you.<span style="mso-spacerun:yes">&nbsp; </span>If you use these links, you will leave this Online Service.<span style="mso-spacerun:yes">&nbsp; </span>JCR has not reviewed all of these third party
                        websites and does not control and is not responsible for any of these third party websites, their content or their policies, including, without limitation, privacy policies or lack thereof.<span style="mso-spacerun:yes">&nbsp; </span>JCR does not endorse or make any representations about third party
                        websites or any information, software or other products or materials found there, or any results that may be obtained from using them.<span style="mso-spacerun:yes">&nbsp; </span>If you decide to access any of the third party websites linked to this Online Service, you do so entirely at your own
                        risk.<span style="mso-spacerun:yes">&nbsp; </span>You acknowledge and agree that JCR shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by, or in connection with, the use of or reliance on any such third party websites.
                    </p>
                    <p class="MsoNormal">
                        Limited Access. Any access or attempt to access for any reason areas of the JCR computer system or other information thereon (except for the limited portions of the Online Service that you have expressly been provided access to pursuant this EULA is strictly prohibited.<span style="mso-spacerun:yes">&nbsp;</span>You agree that you will not use any robot, spider, other automatic device, or manual process to &quot;screen scrape,&quot; monitor, &quot;mine,&quot; or copy the Web pages on the Online Service or the content contained herein in whole or in part.<span style="mso-spacerun:yes">
                            &nbsp;
                        </span>You agree that you will not use any device, software or routine to interfere or attempt to interfere with the proper working of the Online Service.<span style="mso-spacerun:yes">&nbsp; </span>You agree that you will not take any action that imposes an unreasonable or disproportionately large
                        load on JCR’s infrastructure.
                    </p>
                    <p class="MsoNormal">
                        Username and Password.<span style="mso-spacerun:yes">&nbsp; </span>You agree not to give or make available your username or password, or other means to access your account to any unauthorized individuals. You remain responsible for all access to this Online Service via your username and password,
                        even if not authorized by you.<span style="mso-spacerun:yes">&nbsp; </span>If you believe that your password or other means to access your account has been lost or stolen or that an unauthorized person has or may attempt to use this Online Service, you must immediately notify JCR Technical Support.
                    </p>
                    <p class="MsoNormal">
                        Term and Termination. This EULA shall commence upon full payment for the version purchased and the first user’s acceptance of the terms contained in this EULA and shall be effective for the calendar year (or remainder thereof) associated with the calendar year version purchased (&quot;Term&quot;), unless
                        otherwise terminated as set forth herein.
                    </p>
                    <p class="MsoNormal">
                        This EULA will terminate automatically without any prior notice from JCR if you violate the &quot;Authorized Use and Restrictions&quot; terms of this EULA. This EULA may be terminated by JCR upon prior written notice if you fail to comply with any other provision of this EULA and fail to remedy such failure
                        within thirty (30) days of the date of such written notice. Upon termination, you shall no longer be permitted access to any Online Services and each of your USER IDs shall be deactivated. Termination for any of the foregoing, or termination by you, shall not affect JCR’s entitlement to any sums due
                        hereunder, and you shall not be entitled to any refund of any portion of the fees paid.
                    </p>
                    <p class="MsoNormal">
                        CONFIDENTIALITY (applicable to AMP and Tracers only)
                    </p>
                    <p class="MsoNormal">
                        JCR will not disclose to The Joint Commission any information about a health care organization that is captured in AMP OR Tracers.
                    </p>
                    <p class="MsoNormal">
                        REMOVAL OF CONTENT AND OTHER TERMS AND CONDITIONS
                    </p>
                    <p class="MsoNormal">
                        Notwithstanding anything in this EULA to the contrary, JCR may, at any time, remove, restrict or impose additional conditions on access to the Online Service and the content accessible herein.<span style="mso-spacerun:yes">&nbsp; </span>In addition, JCR’s licensors may change the terms and
                        conditions applicable to content accessible on the Online Service or impose additional terms and conditions to the content accessible on the Online Service, including, but not limited to, changes in the amount and types of license fees, how content may be accessed, and how content may be used.<span style="mso-spacerun:yes">&nbsp;</span>In such event, such modified or additional terms and conditions shall apply to your use of the Online Service and the content accessible herein.
                    </p>
                    <p class="MsoNormal">
                        INDEMNIFICATION
                    </p>
                    <p class="MsoNormal">
                        You agree to defend, indemnify and hold harmless JCR, its licensors, and any of their respective officers, directors, employees, subcontractors, agents, successors, assigns, affiliates or subsidiaries, from and against any and all claims, causes of action, lawsuits, proceedings, losses, damages,
                        costs and expenses (including reasonable legal and accounting fees) arising or resulting from (i) your use of the Online Service; (ii) your violation of this EULA; (iii) incomplete or inaccurate information or data provided by you; (iv) unauthorized use of any content or materials available on or
                        through the Online Service; or (v) any content you upload or post to the Online Service. JCR reserves the right, at its discretion, to assume or participate, at your and your organization’s expense, in the investigation, settlement and defense of any action or claim to which it is entitled to
                        indemnification.<span style="mso-spacerun:yes">&nbsp; </span>No claim shall be settled without JCR’s prior written consent unless such settlement includes a complete release of JCR from all liability and does not contain or contemplate any payment by, or injunctive or other equitable relief binding
                        upon, JCR.
                    </p>
                    <p class="MsoNormal">
                        WARRANTY DISCLAIMER
                    </p>
                    <p class="MsoNormal">
                        THIS ONLINE SERVICE, INCLUDING ALL CONTENT, APPLICATIONS, SOFTWARE, TOOLS, SERVICES, MATERIALS, AND INFORMATION, IS PROVIDED &quot;AS IS,&quot; &quot;WITH ALL FAULTS&quot; AND WITHOUT ANY WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED.<span style="mso-spacerun:yes">&nbsp; </span>JCR AND ITS LICENSORS DISCLAIM ALL
                        WARRANTIES WITH RESPECT TO THE ONLINE SERVICE, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, TITLE, QUIET ENJOYMENT, MERCHANTABILITY OF COMPUTER PROGRAMS, DATA ACCURACY, SYSTEM INTEGRATION, AND INFORMATIONAL
                        CONTENT.<span style="mso-spacerun:yes">&nbsp; </span>
                    </p>
                    <p class="MsoNormal">
                        JCR AND ITS LICENSORS DO NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE OPERATION OF THIS ONLINE SERVICE, THE USE, VALIDITY, ACCURACY OR RELIABILITY OF, OR THE RESULTS OF THE USE OF THE MATERIALS ON THIS ONLINE SERVICE OR ANY OTHER WEBSITE LINKED TO THIS ONLINE SERVICE. THE MATERIALS OF THIS
                        ONLINE SERVICE MAY BE OUT OF DATE, AND JCR MAKES NO COMMITMENT TO UPDATE THE MATERIALS AT THIS ONLINE SERVICE. THE ONLINE SERVICE MAY BE USED TO ACCESS AND TRANSFER INFORMATION OVER THE INTERNET; CUSTOMER ACKNOWLEDGES THAT JCR AND ITS VENDORS AND LICENSORS DO NOT OPERATE OR CONTROL THE INTERNET.<span style="mso-spacerun:yes">&nbsp;</span>JCR DOES NOT WARRANT THAT THE FILES AVAILABLE FOR DOWNLOADING FROM THIS ONLINE SERVICE, IF ANY, WILL BE FREE FROM INFECTION, VIRUSES, WORMS, TROJAN HORSES, OR OTHER CODE THAT MANIFEST CONTAMINATING OR DESTRUCTIVE PROPERTIES.<span style="mso-spacerun:yes">
                            &nbsp;
                        </span>JCR DOES NOT WARRANT THAT THIS ONLINE SERVICE, SOFTWARE, MATERIALS, PRODUCTS, OR SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE OR THAT ANY DEFECTS IN THIS ONLINE SERVICE, SOFTWARE, MATERIALS, PRODUCTS, OR SERVICES WILL BE CORRECTED.
                    </p>
                    <p class="MsoNormal">
                        USER RESPONSIBILITY; PROFESSIONAL ADVICE
                    </p>
                    <p class="MsoNormal">
                        YOU ASSUME ALL RESPONSIBILITIES AND OBLIGATIONS WITH RESPECT TO THE SELECTION OF THE PARTICULAR ONLINE SERVICES TO ACHIEVE YOUR INTENDED RESULTS. YOU ASSUME ALL RESPONSIBILITIES AND OBLIGATIONS WITH RESPECT TO ANY DECISIONS OR ADVICE MADE OR GIVEN AS A RESULT OF THE USE OR APPLICATION OF YOUR
                        SELECTED ONLINE SERVICES OR ANY CONTENT RETRIEVED THEREFROM, INCLUDING THOSE TO ANY THIRD PARTY, FOR THE CONTENT, ACCURACY, AND REVIEW OF SUCH RESULTS. JCR AND ITS LICENSORS ARE NOT ENGAGED IN RENDERING LEGAL, MEDICAL OR OTHER PROFESSIONAL ADVICE OR SERVICES. IF LEGAL, MEDICAL OR OTHER EXPERT
                        ASSISTANCE IS REQUIRED, THE SERVICES OF A COMPETENT PROFESSIONAL SHOULD BE SOUGHT.
                    </p>
                    <p class="MsoNormal">
                        LIMITATION OF LIABILITY
                    </p>
                    <p class="MsoNormal">
                        IN NO EVENT WILL JCR AND ITS LICENSORS, AND ANY OF THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, SUBCONTRACTORS, AGENTS, SUCCESSORS, ASSIGNS, AFFILIATES OR SUBSIDIARIES, BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES, DAMAGES RESULTING FROM LOST PROFITS, LOST
                        DATA OR BUSINESS INTERRUPTION ARISING OUT OF RELATING TO THE USE OR INABILITY TO USE THIS ONLINE SERVICE, ANY WEBSITES LINKED TO THIS ONLINE SERVICE, THE MATERIALS, SOFTWARE OR OTHER INFORMATION CONTAINED IN ANY OR ALL SUCH ONLINE SERVICES, REGARDLESS OF THE FORM OF ACTION, WHETHER BASED IN
                        CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO, NEGLIGENCE) OR ANY OTHER LEGAL THEORY AND WHETHER OR NOT ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.<span style="mso-spacerun:yes">&nbsp; </span>SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE
                        LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.
                    </p>
                    <p class="MsoNormal">
                        WHILE YOUR USE OF THE ONLINE SERVICE IS AT YOUR OWN RISK, IF JCR SHOULD HAVE ANY LIABILITY FOR ANY LOSS, HARM OR DAMAGE ARISING OUT OF OR RELATING TO THIS EULA OR YOUR USE OF THE ONLINE SERVICE, JCR’S TOTAL AGGREGATE LIABILITY FOR ANY AND ALL CLAIMS SHALL NOT EXCEED THE LESSER OF $1,000 OR THE
                        AMOUNT OF FEES PAID TO JCR BY YOU OR YOUR SUBSCRIBING ORGANIZATION FOR THE APPLICABLE PORTION OF THE ONLINE SERVICES IN THE PRECEDING SIX (6) MONTHS. YOU ACKNOWLEDGE THAT ABSENT YOUR EULA TO THIS LIMITATION, JCR AND ITS LICENSORS WOULD NOT PROVIDE THE ONLINE SERVICE OR THE MATERIALS ACCESSIBLE
                        HEREIN.
                    </p>
                    <p class="MsoNormal">
                        GOVERNMENT RESTRICTED RIGHTS
                    </p>
                    <p class="MsoNormal">
                        The materials on this Online Service are provided with &quot;RESTRICTED RIGHTS.&quot; Use, duplication, or disclosure by the government is subject to restrictions as set forth in applicable laws and regulations and in this EULA.<span style="mso-spacerun:yes">&nbsp; </span>Use of the materials by the
                        government constitutes acknowledgment of JCR’s or other owner’s proprietary rights in them.
                    </p>
                    <p class="MsoNormal">
                        DIGITAL MILLENNIUM COPYRIGHT ACT (&quot;DMCA&quot;) NOTICE
                    </p>
                    <p class="MsoNormal">
                        Certain materials on this Online Service are from third parties not within JCR’s control.<span style="mso-spacerun:yes">&nbsp; </span>JCR is under no obligation to, and does not, scan such third party content used in connection with the Online Service for the inclusion of illegal or impermissible
                        content.<span style="mso-spacerun:yes">&nbsp; </span>However, JCR respects the copyright interests of others and, as a policy, does not knowingly permit materials herein that infringe another party’s copyright.
                    </p>
                    <p class="MsoNormal">
                        If you believe any materials on this Online Service infringe a copyright, you should provide us with written notice that at a minimum contains:
                    </p>
                    <p class="MsoNormal">
                        &bull; A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;
                    </p>
                    <p class="MsoNormal">
                        &bull; Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;
                    </p>
                    <p class="MsoNormal">
                        &bull; Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material;
                    </p>
                    <p class="MsoNormal">
                        &bull; Information reasonably sufficient to permit us to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted;
                    </p>
                    <p class="MsoNormal">
                        &bull; A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and
                    </p>
                    <p class="MsoNormal">
                        &bull; A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
                    </p>
                    <p class="MsoNormal">
                        All DMCA notices should be sent to our designated agent as follows:
                    </p>
                    <p class="MsoNormal">
                        Harold Bressler
                    </p>
                    <p class="MsoNormal">
                        Copyright Agent for Joint Commission Resources, Inc.
                    </p>
                    <p class="MsoNormal">
                        Office of the General Counsel
                    </p>
                    <p class="MsoNormal">
                        The Joint Commission
                    </p>
                    <p class="MsoNormal">
                        One Renaissance Blvd.
                    </p>
                    <p class="MsoNormal">
                        Oakbrook Terrace, IL 60181
                    </p>
                    <p class="MsoNormal">
                        Tel: 630-792-5000Fax: 847-792-3090
                    </p>
                    <p class="MsoNormal">
                        Email: hbressler@jointcommission.org
                    </p>
                    <p class="MsoNormal">
                        <span style="mso-spacerun:yes">&nbsp;</span>
                    </p>
                    <p class="MsoNormal">
                        JCR may, in appropriate circumstances and at its discretion, terminate the account or access of users who infringe the intellectual property rights of others.
                    </p>
                    <p class="MsoNormal">
                        REVISIONS TO THIS EULA
                    </p>
                    <p class="MsoNormal">
                        JCR may revise this EULA at any time without notice by updating this posting.<span style="mso-spacerun:yes">&nbsp; </span>By using this Online Service you agree to be bound by any such revisions and should therefore periodically visit this Online Service and page to determine the then current terms
                        and conditions of use to which you are bound.
                    </p>
                    <p class="MsoNormal">
                        MISCELLANEOUS
                    </p>
                    <p class="MsoNormal">
                        If any provision(s) of this EULA is held by a court of competent jurisdiction to be contrary to law, then such provision(s) shall be construed, as nearly as possible, to reflect the intentions of the parties with the other provisions remaining in full force and effect.<span style="mso-spacerun:yes">
                            &nbsp;
                        </span>JCR’s failure to exercise or enforce any right or provision of this EULA shall not constitute a waiver of such right or provision unless acknowledged and agreed to by JCR in writing.<span style="mso-spacerun:yes">&nbsp; </span>The provisions of this EULA shall operate for the benefit of, and
                        may be enforced by, any person that has licensed to JCR any of the materials in the Online Services. This EULA may be assigned in whole or in part by JCR at any time.<span style="mso-spacerun:yes">&nbsp; </span>This EULA may not be assigned in any manner by you without the express, prior written
                        permission of JCR.<span style="mso-spacerun:yes">&nbsp; </span>
                    </p>
                    <p class="MsoNormal">
                        Performance of JCR hereunder is subject to interruption and delay due to causes beyond its reasonable control such as acts of God, acts of any government, war or other hostilities, the elements, fire, explosion, power failure, acts or omissions of carriers, transmitters, or providers of
                        telecommunications or Internet services, industrial or labor dispute, inability to obtain supplies and the like, or breakdown of equipment or any other causes beyond JCR’s control.
                    </p>
                    <p class="MsoNormal">
                        This EULA shall be governed by and construed in accordance with the laws of the State of Illinois notwithstanding any conflict of law’s provisions.<span style="mso-spacerun:yes">&nbsp; </span>You irrevocably and unconditionally (i) consent to submit to the exclusive jurisdiction of the state and
                        federal courts in the State of Illinois (the &quot;Illinois Courts&quot;) for any litigation or dispute arising out of or relating to this EULA, (ii) agree not to commence any litigation arising out of or relating to this EULA except in the Illinois Courts, (iii) agree not to plead or claim that such
                        litigation brought therein has been brought in an inconvenient forum, and (iv) agree the Illinois Courts represent the exclusive jurisdiction for all disputes relating to this EULA. EACH PARTY, TO THE EXTENT PERMITTED BY LAW, KNOWINGLY, VOLUNTARILY AND INTENTIONALLY WAIVES ITS RIGHT TO A TRIAL BY
                        JURY IN ANY ACTION OR LEGAL PROCEEDING ARISING OUT OF OR RELATING TO THIS EULA AND THE TRANSACTIONS IT CONTEMPLATES.
                    </p>

                </div>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-left" style="display: inline-block;">
            <label>
                <input type="checkbox" id="ckAgree" />
                I agree to this END-USER LICENSE AGREEMENT
            </label>

            <div style="display: inline-block; padding-left: 10px;">
                <input type="button" class="btn btn-primary btn-sm btnAccept" id="btnAccept" disabled="disabled" onclick="GuestAccess.onEulaAccepted()" value="Next" />
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#ckAgree').click(function () {
            if ($(this).prop('checked')) {
                $('.btnAccept').removeProp('disabled');
            } else {
                $('.btnAccept').prop('disabled', 'disabled');
            }
        });
    });

</script>