<connectionStrings>
  <add name="DBAMP" connectionString="server=JCRDEVESQL01\JCRDEVEXTRA01;database=DBAMP_Dev;User ID=Grace;Password=grace;ApplicationIntent=ReadWrite" providerName="System.Data.SqlClient" />
  <add name="DBMEdition01" connectionString="server=JCRDEVESQL01\JCRDEVEXTRA01;database=DBMEdition01_Dev;User ID=Grace;Password=grace;ApplicationIntent=ReadWrite" providerName="System.Data.SqlClient" />
  <add name="FileTableEntities" connectionString="server=JCRDEVESQL03\JCRDEVDOC01;database=DBDCM01_Dev;User ID=Grace;Password=grace;ApplicationIntent=ReadWrite" providerName="System.Data.SqlClient" />
</connectionStrings>