<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add xdt:Locator="Match(name)" xdt:Transform="SetAttributes" name="DBAMP" connectionString="#{DBAMP}#" providerName="System.Data.SqlClient" />
  <add xdt:Locator="Match(name)" xdt:Transform="SetAttributes" name="DBMEdition01" connectionString="#{DBMEdition01}#" providerName="System.Data.SqlClient" />
  <add xdt:Locator="Match(name)" xdt:Transform="SetAttributes" name="FileTableEntities" connectionString="#{FileTableEntities}#" providerName="System.Data.SqlClient" />
</connectionStrings>