<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="EnforceSSL" value="#{EnforceSSL}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="LOCALDEBUG" value="#{LOCALDEBUG}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="Build.BuildNumber" value="#{Build.BuildNumber}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="AuthTokenExpiry" value="#{AuthTokenExpiry}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="SessionTimeout" value="#{SessionTimeout}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="storage:account:name" value="#{storage:account:name}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="storage:account:key" value="#{storage:account:key}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="azure:filepath" value="#{azure:filepath}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="TracerSMTPserver" value="#{TracerSMTPserver}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="TracerFromEmailAddress" value="#{TracerFromEmailAddress}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="TracerBCCEmailAddress" value="#{TracerBCCEmailAddress}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="IncludeHelpPage" value="#{IncludeHelpPage}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="TracerMobileCustomerSupportEmailFrom" value="#{TracerMobileCustomerSupportEmailFrom}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="TracerMobileCustomerSupportEmailTo" value="#{TracerMobileCustomerSupportEmailTo}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="TracerHelpPDF" value="#{TracerHelpPDF}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="TracerHelpVideo" value="#{TracerHelpVideo}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="TracerHelpPdfForGuest" value="#{TracerHelpPdfForGuest}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="TracerHelpVideoForGuest" value="#{TracerHelpVideoForGuest}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="TracersMobileAppVersion" value="#{TracersMobileAppVersion}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="NewFeatureToggle" value="#{NewFeatureToggle}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="AMPFromEmailAddress" value="#{AMPFromEmailAddress}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="TracersTaskUrl" value="#{TracersTaskUrl}#" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="ProductReleasedDate" value="#{ProductReleasedDate}#" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace" configSource="#{connectionStringsFile}#">
  </connectionStrings>
  <system.web>
    <sessionState timeout="#{sessionState.timeout}#" xdt:Transform="SetAttributes(timeout)" />
  </system.web>
  <system.webServer>
  </system.webServer>
  <system.serviceModel>
    <client>
      <endpoint xdt:Locator="Match(contract)" xdt:Transform="SetAttributes(address, binding, bindingConfiguration)"
                address="#{IProcessEmail}#"
                binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IProcessEmail"
                contract="CCMService.IProcessEmail"
                name="WSHttpBinding_IProcessEmail"/>
    </client>
  </system.serviceModel>
</configuration>